/* compass defaults
   ========================================================================== */

// $experimental-support-for-svg: true;

@import "bourbon";

* {
  box-sizing: border-box;
}

/* normalize setup
   ========================================================================== */
$font-size: 14px;
$font-family: 'Open Sans', sans-serif;

// The base font size.
$base-font-size: $font-size !default; // Overrides default set in Vertical Rhythm partial.